@page "/alpakas"
@using AlpakaFrontend2.Service;
@inject ApiService ApiService
@using System.Net.Http
@inject HttpClient Http

<div class="apakka">
   
    <h1>Alpaka List</h1>

    @if (alpakas == null)
    {
        <p>Loading...</p>
    }
    else
    {
    @foreach (var alpaka in alpakas)
    {

        <div class="alpaka-item">
            @* <img src="@alpaka.ImageUrl" alt="@alpaka.Name" /> *@
            <p>@alpaka.Name</p>
        </div>
    }

    }
     

</div>


@code {

    public class Alpaka
    {
        
        public string Name { get; set; }

        // public string ImageUrl { get; set; }
    }


    private Alpaka[]? alpakas;

    protected override async Task OnInitializedAsync() => 
    alpakas = await Http.GetFromJsonAsync<Alpaka[]>("api/Alpaka");
        
    

    // List<Alpaka> alpakas = new List<Alpaka>
    // {
    //     new Alpaka { Name = "Alpaka 1", ImageUrl = "media/alpaka1.jpg" },
    //     new Alpaka { Name = "Alpaka 2", ImageUrl = "media/alpaka2.jpg" },
    //     new Alpaka { Name = "Alpaka 3", ImageUrl = "media/alpaka3.jpg" }
    // };

}
