

<body>

    <div class="topnav">
        <div class="topnav-center">
            <a class="navbar-brand" href="/Index"><strong>Fuzzy Valley Alpaca Ranch</strong></a>
            <a class="nav-link" href="/Alpakas">ALPAKAS</a>
            <a class="nav-link" href="/Events">EVENTS</a>
            <a class="nav-link" href="/AlpakaWalk">ALPAKA WALK</a>
            <a class="nav-link" href="/">ABOUT US</a>
        </div>

        <div class="topnav-right">
            <a class="login-icon" href="/login">&#x1F464;</a> <!-- Unicode character for a person icon -->
        </div>
    </div>

</body>